.signup-page{

    min-height:100vh;

    background:linear-gradient(
        180deg,
        #8FB8FF 0%,
        #7D9BF5 100%
    );

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:40px;
}

.signup-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:24px;

    box-shadow:0 20px 40px rgba(0,0,0,.15);

    display:flex;

    flex-direction:column;

    gap:18px;

}

.signup-card h2{

    margin:0;

    color:#333;

    text-align:center;

}

.signup-subtitle{

    margin:0;

    text-align:center;

    color:#777;

    margin-bottom:10px;

}

.signup-card input{

    padding:15px;

    border-radius:14px;

    border:2px solid #E5E7EB;

    font-size:16px;

    transition:.2s;

    outline:none;

}

.signup-card input:focus{

    border-color:#58C78D;

    box-shadow:0 0 8px rgba(88,199,141,.35);

}

.signup-card button{

    margin-top:10px;

    background:#58C78D;

    color:white;

    border:none;

    border-radius:14px;

    padding:15px;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}

.signup-card button:hover{

    background:#47b67c;

    transform:translateY(-2px);

}

.login-link{

    text-align:center;

    color:#666;

}

.login-link a{

    text-decoration:none;

    color:#4A7DF3;

    margin-left:6px;

    font-weight:bold;

}